*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: #003532;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.cabecalho-imagem{
    width: 6%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#003532,#C2F9EB);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width:35%;
}
.escola-titulo{
    padding: 24px 0;
}  
.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudantes-titulo{
    text-align: center;
    padding:50px 0;
}